body{
    background-color: #5c94fc;
}

.big-square{
    width: 90%;
    height: 414px;
    border: 5px solid #343a40;
}
.sq1{
    width: 25%;
    height: 100px;
    border-right: 5px solid #363e45;
    background-color: #4976c9;
}
.sq2{
    width: 50%;
    height: 100px;
    border-top: 5px solid #343a40;
    border-right: 5px solid #363e45;
    background-color: #375897;
}
.sq3{
    width: 75%;
    height: 100px;
    border-top: 5px solid #343a40;
    border-right: 5px solid #343a40;
    background-color: #243b64;
}
.sq4{
    width: 100%;
    height: 100px;
    border-top: 5px solid #343a40;
    background-color: #121d32;
}